*{
    margin: -1px;
    padding: 1px;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
:root{
    --primary-color: #0f0f0f;
    --secondary-color: #ffffff;

}
.dark-theme{
    --primary-color: #ffffff;
    --secondary-color: #0f0f0f;
}
#icon{
    width:20px;
    cursor: pointer;
}
nav ul{
    flex: 1;
    text-align: right;
}
body {
    background: var(--primary-color);
    color:#fff;
    
}
.header-text{
    margin: 20px;
    padding: 30px;
}


#header{
    width: 100%;
    height: 100vh;
    background-image: url('images/mypic1.png');
    background-size: 40%;
    background-repeat: no-repeat;
    background-position: bottom right;
}
nav{
    position: fixed;
    margin: 0;
    padding:0;
    background: orange;
    width: 100%;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    
}

nav ul li{
    display:inline-block;
    list-style:none;
    margin:10px 15px;
}
nav ul li a{
    
    color: var(--secondary-color);
    text-decoration: none;
    font-size: 18px;
    position:relative;
    font-variant: small-caps;
}
nav ul li a::after{
    content: '';
    width: 0%;
    height:3px;
    background: var(--secondary-color);
    position: absolute;
    left:0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 70%;
}
.header-text{
    margin-top: 20%;
    font-size: 30px;
    color: var(--secondary-color);
}
.header-text h1{
    font-size: 50px;
    margin-top:20px;
}
.header-text h1 span{
    color: orange;
}
/*--------about------*/

#About{
    padding: 80px;
    color:#ababab;
}
.row{
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1{
    flex-basis: 35%;
}
.about-col-1 img{
    width:100%;
    border-radius: 15px;
}
.about-col-2{
    flex-basis: 60%;
    color: var(--secondary-color);
}
.sub-title{
    margin-top: 50px;
    font-size: 60px;
    font-weight: 600;
    color: var(--secondary-color);
}
.tab-titles{
    display: flex;
    margin:20px 0;
}
.tab-links{
    margin-right: 10px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: '';
    width: 0%;
    height: 3px;
    background:orange;
    position:absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.tab-links.active-link::after{
    width: 50%;

}
.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
    font-size: 17px;
}
.tab-contents ul li span{
    color:orange;
    font-size:14px;
}
.tab-contents{
    display:none;
}
.tab-contents.active-tab{
    display: block;
}

/*---------------------services-------------------------*/
#services{
    padding: 30px 70px;
}
.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap:40px;
    margin-top:50px;
}
.services-list div{
    background: #262626;
    padding: 40px;
    font-size:13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s,transform 0.5s;
}
.services-list div i{
    font-size: 50px;
    margin-bottom: 30px;
}
.services-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}
.services-list div a{
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}
.services-list div:hover{
    background: orange;
    transform: translateY(-1px);
}
/*-----------------portfolio----------*/
.portfolio{
    margin: 60px;
    color:  var(--secondary-color);
}
.portfolio h1{
    display: flex;
    margin-bottom: 25px;
}
.portfolio p{
    margin-left: 70px;
    font-size: 25px;
    font-weight: 500;  
}
.codingprofile{
    margin-left: 70px;
    margin-top: 50px;
    font-size: 60px;
    font-weight: 600;
    color: var(--secondary-color);
}
#pa{
    margin-left: 70px;
    font-size: 25px;
    color: var(--secondary-color);
}
#pa span{
    color: orange;
}
.portfolio p span{
    color: orange;
}
.portfolio-list{
    margin-top: 20px;
    
}
.portfolio-list ul{
    color: var(--secondary-color);
}
.portfolio-list ul li a{
    text-decoration: none;
    list-style-type: none;
    color: #fff;
    font-size: 17px;
}
.links{
    margin-left: 70px;
}
.portfolio-list .links{
    list-style-type: none;
}
.portfolio-list ul li a span{
    color: orange;
}
#profilelogos
{
	margin-left: 3%;
	color: var(--links-color);
	font-size: 30px;
}
#pro
{
	width: 3.5%;
	height: 5%;
}
/*-------------------contact-------------------*/
.contact{
    margin-top: 40px;
}

.contact-left{
    margin-top: 60px;
    margin-left: 40px;
    flex-basis: 35%;
    
}
.contact-right{
    margin-top: 120px;
    margin-right: 20px;
    flex-basis: 60%;
}
.contact-left p{
    margin-top: 30px;
}
.contact-left p i{
    color:orange;
    margin-right: 15px;
    font-size: 20px;
}
.mailandall{
    color: var(--secondary-color);
}
.social-icons{
    margin-top: 20px;
}
.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color:#ababab;
    display: inline-block;
    transition:transform 0.5s;
}
.social-icons a:hover{
    color: orange;
    transform:translateY(-5px);
}
.cv-btn{
    margin-top: 40px;
    
}
.cv-btn .btn{
    text-decoration: none;
    color: var(--secondary-color);
    background: #ff9301;
    font-size: 19px;
    letter-spacing: 1px;
    border: 1px solid #ff9301;
    padding:13px 25px;
    border-radius: 50px;
}
.cv-btn a:hover{
    background: transparent;
    color:var(--secondary-color);
    border:1px solid var(--secondary-color);
}
.submit-btn{
    color: var(--secondary-color);
    background: #ff9301;
    font-size: 19px;
    letter-spacing: 1px;
    border: 1px solid #ff9301;
    padding:13px 25px;
    border-radius: 20px;
}
.submit-btn:hover{
    background: transparent;
    color:var(--secondary-color);
    border:1px solid var(--secondary-color);
}
.contact-right form{
    width:100%;
}
form input,form textarea{
    width:100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}
.copyright{
    width: 100%;
    text-align: center;
    padding:16px 0;
    background: #262626;
    font-weight: 300;
    margin-top: 40px;
    color: #fff;
}
/*-------------------------------css for small screen---------------------------*/
nav .fas{
    display: none;
    color: var(--secondary-color);
    
}

@media only screen and (max-width:1000px){
    html {
        zoom: 1;
      }
    #header{
        width: 100%;
        height: 100vh;
        background-image: url('images/myPicPhoneView1.png');
        background-size: 90%;
        background-position: bottom right;
        margin-right: -100%;
        background-repeat: no-repeat;

    }
    .header-text{
        margin-top: 20%;
        font-size: 16px;
    }
    .header-text h1{
        font-size: 30px;
    }
    nav .fas{
        display: block;
        font-size: 25px;
    }
    nav{
        background: none;
        display:block;
    }
    nav ul {
        background: orange;
        position: fixed;
        top: 0;
        left: -170px;
        width: 170px;
        bottom: 100%;
        height: 100vh;
        padding-top: 50px;
        text-align:left;
        z-index: 2;
        transition: 0.5s;
    }
    #icon{
        margin-left: 20px;
        margin-top: 50px;
    }
    #menu-icon{
        margin-top: 25px;
        margin-left: 25px;
    }
    nav ul li{
        display: block;
        margin: 25px;
        text-align: left;
    }
    nav ul .fas{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;;
    }
    nav .fas{
        top: 25px;
        left:25px;
    }
    .sub-title{
        font-size: 35px;
        
    }
    .about-col-1,.about-col-2{
        flex-basis: 100%;
        margin: -35px -35px;
        padding: -35px -35px;
    }
    .about-col-1{
        margin-top: -40px;
        margin-bottom: -15px;
    }
    .about-col-2{
        margin-left: -30px;
        font-size: 16px;
    }
    .contact{
        margin-top: 10px;
    }
    .contact-left, .contact-right{
        flex-basis: 100%;
    }
    .contact-left #ml{
        
        font-size: 21px;
    }
    .contact-right{
        margin: 40px;
    }
    #mail{
        font-size: 18px;
    }
    .portfoliowala{
        margin-left: -30px;
    }
    #pro{
	width: 10%;
	height: 15%;
    }
    .pf #cp{
        font-size: 35px;
        margin-left: 60px;
        margin-bottom: 10px;
    }
    .serviceswala{
        margin-top:-50px ;
    }

}

/*----------------hireMe-form---------------*/
.HireMe-form{
    margin-top: 120px;
    flex-basis: 60%;
    margin: 20px 30px;
}
.hire{
    font-size: 40px;
    font-weight: 700;
    font-variant: small-caps;
}
.hire span{
    color: orange;
}
